* {
    margin: 0;
    padding: 0;
}

#logo img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.info {
    height: 200vw;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}


.grid-item {
    background-color: #D5EDFA;
    padding: 20px;
    font-size: 30px;
    text-align: center;

}

.a {
    background-color: #F2F2F2;
}

.b {
    background-color: #F2F2F2;
}

.c {
    background-color: #F2F2F2;
}





/***** MEDIA QUERIES*****/

@media screen and (min-width:1024px) and (orientation: landscape) {

    .info {
        height: 40vw;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 100px;
    }

    footer {
        background-color: #052951;
        width: 100%;
        color: whitesmoke;


    }

}





/***FOOOTER*****/

footer {
    background-color: #052951;
    width: 100%;
    height: auto;
    color: whitesmoke;


}
