* {
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff;
}

#logo img {
    width: 40%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info {
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
}

.grid-item {
    background-color: #F2F2F2;
    padding: 20px;
    font-size: 30px;
    text-align: center;

}








/***** MEDIA QUERIES*****/

@media screen and (min-width:1024px) and (orientation: landscape) {

    .info {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 100px;
    }

}

@media screen and (min-width: 2560px) {

    .info {
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 100px;
    }

}


/***FOOOTER*****/

footer {
    background-color: #052951;
    width: 100%;
    color: whitesmoke;
    position: absolute;

}
